  <% content_for :breadcrumbs_partial do %>
      <%= taxon_breadcrumbs(@taxon) %>
    <% end %>

  <%= render partial: 'spree/shared/header' %>

  <div class="container-fluid">
  <% if current_page?('/') || controller_name == 'users' %>

  
    
  <% else %>
    <%= render partial: 'spree/shared/search' %>
  <% end %>


  <div id="wrapper" class="row" data-hook>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= yield :breadcrumbs %>
        </div>    
      </div>    
    </div>

    <div class="container">
      <div class="row">
        <% if controller.controller_name == "home" %>
          <div id="content" class="col-md-12 columns <%#= !content_for?(:sidebar) ? "sixteen" : "twelve omega" %>" data-hook>
            <%= flash_messages %>
            <%= yield %>
          </div>

        <% else %>

          <div class="col-md-2">
            <%#= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>    
          </div>

          <div id="content" class="col-md-12 columns <%= !content_for?(:sidebar) ? "sixteen" : "twelve omega" %>" data-hook>
            <%= flash_messages %>
            <%= yield %>
          </div>

        <% end %>        
      </div>
    </div>

    <%= yield :templates %>

  </div>
  </div>

  <div class="container">
     <%= render partial: 'spree/shared/footer' %>
  </div>


  <script>
    //Hides home and product links
    var bread = document.getElementById("breadcrumbs");
    var crumbs = bread.firstChild.childNodes;

    for (c = 0; c < crumbs.length; c++) {
      var contentText = crumbs[c].textContent;
     
      if (contentText === 'Home' || contentText === 'Products') {
        crumbs[c].style.display = "none";
      }  
    }
  </script>