  <%= render partial: 'spree/shared/header' %>

  <div class="container">

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-7 text-center">
      <%= render partial: 'spree/shared/search' %>
    </div>
  </div>

  <div id="wrapper" class="row" data-hook>

    <%= taxon_breadcrumbs(@taxon) %>

    <div class="col-md-2">
      <%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>    
    </div>

    <div id="content" class="col-md-10 columns <%= !content_for?(:sidebar) ? "sixteen" : "twelve omega" %>" data-hook>
      <%= flash_messages %>

      <h1>HOME!</h1>
      
      <%# if controller.controller_name == "home" %>
        <!-- 'is home' -->
      <%# end %>

      <%= yield %>
    </div>

    <%= yield :templates %>

  </div>

  <%= render partial: 'spree/shared/footer' %>

  </div>