<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>

    <% if current_spree_user %>
			<% if current_spree_user.athlete_brand == 'Rossignol' %>
				<% @bg_image = "/assets/WelcomePage_RossiShop.jpg" %>
			<% elsif current_spree_user.athlete_brand == 'Dynastar' %> 
				<% @bg_image = "/assets/WelcomePage_DynaShop.jpg" %>
			<% elsif current_spree_user.athlete_brand == 'Coach' %>
				<% @bg_image = "/assets/WelcomePage_CoachShop.jpg" %>
			<% end %>
  	<% end %>

  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body" 
  	<% if controller_name == 'home' %>
  		style="background:url(<%= @bg_image %>) no-repeat center center fixed;background-size:cover;">
  	<% end %>

		
    <%= render layout_partial %>

     <div class="container-fluid" style=""> 
	    <!-- position:absolute;bottom:0;width:100%;left:0; -->
	     <div class="row" >
	        <%= render partial: 'spree/shared/footer' %>
	      </div>
  	</div>

  </body>
</html>
