<% @body_id = 'cart' %>
<div data-hook="cart_container">
  <h1><%= t('spree.shopping_cart') %></h1>

  <% if @order.line_items.empty? %>

    <div data-hook="empty_cart">
      <p><%= t('spree.your_cart_is_empty') %></p>
      <p><%= link_to t('spree.continue_shopping'), '/t/' + current_spree_user.athlete_brand.downcase, class: 'btn btn-primary' %></p>
    </div>

  <% else %>

    <div data-hook="outside_cart_form">
      <%= form_for @order, url: update_cart_path, html: {id: 'update-cart', class: "form-inline"} do |order_form| %>
        <div data-hook="inside_cart_form">

          <div data-hook="cart_items">
            <%= render 'form', order_form: order_form %>
          </div>
          <hr>
          <div class="links columns sixteen alpha omega form-group" data-hook="cart_buttons">
            <%= order_form.text_field :coupon_code, size: 10, placeholder: t('spree.coupon_code'), class: 'form-control' %>
            <%= button_tag class: 'primary btn btn-primary', id: 'update-button' do %>
              <%= t('spree.update') %>
            <% end %>
            <%= button_tag class: 'button checkout primary btn btn-success', id: 'checkout-link', name: 'checkout' do %>
              <%= t('spree.checkout') %>
            <% end %>
          </div>

        </div>
      <% end %>
    </div>
    <hr>
    <div id="empty-cart" data-hook>
      
      <%= form_tag empty_cart_path, method: :put do %>
        <p id="clear_cart_link" data-hook>
        <%= submit_tag t('spree.empty_cart'), class: 'btn btn-warning' %>
        <%= t('spree.or') %>

        <%= link_to t('spree.continue_shopping'), '/t/' + current_spree_user.athlete_brand.downcase, class: 'btn btn-primary' %>
        </p>
      <% end %>
    </div>

  <% end %>
</div>


<script>
  var silverCode = "silver";
  var goldCode = "gold";
  var platinum = "platinum";

  var userPromo = "<%= current_spree_user.discount_level %>"

  var couponField = document.getElementById('order_coupon_code');

  if (userPromo == 'platinum') {
    couponField.value = 'platinum';
  } else if (userPromo == 'gold') {
    couponField.value = 'gold';
  } else if (userPromo == 'silver') {
    couponField.value = 'silver'
  } else {
    couponField.value = '';
  }

</script>