<div id="checkout" data-hook>
  <%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>

  <%# if @order.checkout_steps.index == 4 %>
    
  <%# end %>
  <div class="row">
    <div class="col-md-12" >
      <p class="checkout-continue-shopping text-center">Hey, did you forget something? You can continue to shop, we'll look after your cart. <%= link_to 'Continue Shopping', '/t/' + current_spree_user.athlete_brand.downcase, class: 'btn btn-primary' %></p>
    </div>
  </div>

  <%#= @order.checkout_steps[4] %>

  <div class="row" data-hook="checkout_header">

    <div class='col-md-12'>
      <h1 class="columns three alpha" data-hook="checkout_title"><%= Spree.t(:checkout) %></h1>
      <div class="columns thirteen omega" data-hook="checkout_progress">
        <%= checkout_progress %>  
      </div>
    </div>
  </div>

  <div class="row" data-hook="checkout_content">

    <div class="col-md-12 columns <%= if @order.state != 'confirm' then 'alpha twelve' else 'alpha omega sixteen' end %>" data-hook="checkout_form_wrapper">

      <div class="row">
        <div class="col-md-8" id="checkout-email">
        <%= form_for @order, url: update_checkout_path(@order.state), html: { id: "checkout_form_#{@order.state}", class: 'form-group' } do |form| %>
          <% if @order.state == 'address' || !@order.email? %>
            <!-- <p class="field" style='clear: both'> -->
              <%= form.label :email %><br />
              <%= form.email_field :email, required: true, class: 'form-control' %>
            <!-- </p> -->
        <% end %>
        </div>
      </div>

        <%#= @order.state? %>
        <%= render @order.state, form: form %>

      <% end %>
    </div>
  </div>
</div>

<script>
Spree.current_order_id = "<%= @order.number %>"
Spree.current_order_token = "<%= @order.guest_token %>"
</script>

<% if I18n.locale != :en %>
  <%= javascript_include_tag 'jquery.validate/localization/messages_' + I18n.locale.to_s.downcase.gsub('-', '') %>
<% end %>