<% cache [I18n.locale, current_pricing_options, @product] do %>
<%#= @product %>
<div data-hook="product_show" itemscope itemtype="http://schema.org/Product">
<% @body_id = 'product-details' %>

<div class="row">
  <div class="col-md-6">
    <h1 class="product-title" itemprop="name"><%= @product.name %></h1>
  </div>
  <div class="col-md-6">
    <%#= yield :breadcrumbs_partial %>
    <%= taxon_breadcrumbs(@taxon) %>
  </div>
</div>

<div class="row">

  <div class="col-md-6" data-hook="product_left_part">
    <div id="product-images" data-hook="product_images">
      <div id="main-image" data-hook>
        <%= render partial: 'image' %>

      </div>
      <div id="thumbnails" data-hook>
        <%= render partial: 'thumbnails' %>
      </div>
    </div>   
  </div>

  <div class="col-md-6">
    <div class="row">

      <div class="col-md-12" data-hook="product_right_part">
        <h5 class="product-section-title"><%= t('product details')%></h5>
        <div class="panel panel-default" data-hook="product_right_part_wrap" style="border:1px solid #ffffff;box-shadow:none;">
          <div class="panel-body">
            <div class="panel-body" id="product-description" data-hook="product_description">
              <div itemprop="description" data-hook="description">
                <%= product_description(@product) rescue t('spree.product_has_no_description') %>
              </div>
              <div id="cart-form" data-hook="cart_form">
                <%= render partial: 'cart_form' %>
              </div>
            </div>
            <!-- <hr> -->
            <%#= render partial: 'taxons' %>
          </div>
        </div>
      </div>

      <div class="col-md-12" data-hook="product_center_part">
        <div data-hook="product_center_part_wrap">
          <div data-hook="product_properties">
            <%= render partial: 'properties' %>
          </div>
        </div>
      </div>

    </div>
  </div>




</div>

<% end %>

