<!-- <h1 class="taxon-title"><%#= @taxon.name %></h1>
 <%#= yield :breadcrumbs %> -->

 <div class="row">
  <div class="col-md-6">
    <h1 class="product-title" itemprop="name"><%= @taxon.name %></h1>
    <p class="text-left"><%= taxon_breadcrumbs(@taxon) %></p>
  </div>
  <div class="col-md-6 text-right">
    <%= render partial: 'spree/shared/user_session' %>
  </div>
</div>


<% if @taxon.name == 'Rossignol' %>
  <% @brand_class = 'rossignol' %>
<% elsif @taxon.name == 'Dynastar' %>
  <% @brand_class = 'dynastar' %>
<% elsif @taxon.name == 'Coach' %>
  <% @brand_class = 'coach' %>
<% end %>


<div class="container">
<div class="row main-categories">
  <% @taxon.children.each do |t| %>
    <%= link_to seo_url(t) do %>
      <div class="col-sm-2 home" id="<%= @brand_class %>-<%= t.name.downcase %>"><h2><%= t.name %></h2></div>
    <% end %>
  <% end %>
</div>
</div>


<% content_for :sidebar do %>
  <div data-hook="taxon_sidebar_navigation">
    <%= render partial: 'spree/shared/taxonomies' %>
    <%= render partial: 'spree/shared/filters' if @taxon.children.empty? %>
  </div>
<% end %>

<div data-hook="taxon_products">

  <%#= params[:id] %>
  
  <% if params[:id].include?('/') %>
    <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
  <% end %>

</div>

<% unless params[:keywords].present? %>
  <div data-hook="taxon_children">
    <% cache [I18n.locale, @taxon] do %>
      <%#= render partial: 'taxon', collection: @taxon.children %>
    <% end %>
  </div>
<% end %>



<div class="clearfix"></div>




