<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <figure id="logo" class="columns six" data-hook>

       <%#= current_page?(root_url) %>

        <% if @taxon %>
          <%= logo_picker(@taxon.root.name) %>
        <% elsif current_page?(root_url) %>
          <%= link_to image_tag('Logo_GROUPE_2016.png', class: 'img-responsive', width: '138'), '/' %>
        <% end %>
      </figure>
    </div>

    <!-- coach / rossignol / dynastar -->    
    <% if params[:id].present? %>
      <% @current_taxonomy_root = params[:id].split('/')[0] %>
    <% end %>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">   
    <% if @taxon %>
      <% if @taxon.name == 'Rossignol' || @taxon.name == 'Dynastar' || @taxon.name == 'Coach' %>
        <% @brand = @taxon.name.downcase %>
      <% elsif @taxon.parent.name %>
        <% @brand = @taxon.parent.name.downcase %>
      <% end %>
    <% end %>
      
      <% @taxonomies.each do |taxonomy| %>
        <!-- see if current taxonomy match with params then display appropriate nav @current_taxonomy_root--> 
        <% if taxonomy.name.downcase == @brand %>
          <%= taxons_tree(taxonomy.root, @taxon, 1) %>
        <% end %>
      <% end %>

    </div>

    <% content_for 'account_utility_links' do %>
      <ul class="nav navbar-nav navbar-right">
        <li id="link-to-cart" data-hook>
          <noscript>
            <%= link_to t('spree.cart'), spree.cart_path %>
          </noscript>
          &nbsp;
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if spree_user_signed_in? %>
          <li>
            <%= link_to spree_current_user.email, edit_account_path(spree_current_user) %>    
          </li>
          <li>
            <%= link_to ('FIS#: ' + spree_current_user.fis_number), edit_account_path(spree_current_user) unless spree_current_user.fis_number.nil? %>
          </li>
        <% end %>  

        <% if spree_user_signed_in? %>
          <li>
            <%= link_to 'Logout', logout_path %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Sign up', signup_path %>
          </li>
          <li>
            <%= link_to "Login", login_path %>
          </li>
        <% end %>
      </ul>

      <script>Spree.fetch_cart('<%= j spree.cart_link_path %>')</script>

    <% end %>  

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

