<div class="form-group">
  <%= f.label :email, Spree.t(:email) %>
  <%= f.email_field :email, class: 'title form-control' %>
</div>

<div class="form-group">
  <%#= f.label :fis_number, Spree.t(:fis_number) %>
  <label>FIS Number</label>
  <%= f.text_field :fis_number, class: 'title form-control' %>
</div>

<div id="password-credentials">
  <div class="form-group">
    <%= f.label :password, Spree.t(:password) %>
    <%= f.password_field :password, class: 'title form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, Spree.t(:confirm_password) %>
    <%= f.password_field :password_confirmation, class: 'title form-control' %>
  </div>
</div>

<div data-hook="signup_below_password_fields"></div>