
<% if spree_user_session %>
	<%= current_spree_user.athlete_brand %>
	<div class="row" id="main-brands">
		<div class="col-md-2 col-md-offset-2 text-center">
			<%= link_to (image_tag 'brands-rossi.png', alt: "Rossignol Logo", class: "img-responsive"), '/t/rossignol' %>
		</div>
		<div class="col-md-2 col-md-offset-4 text-center">
			<%= link_to (image_tag 'brands-dynastar.png', alt: "Dynastar Logo", class: "img-responsive"), '/t/dynastar' %>
		</div>

<% else %>

	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<%#= render partial: 'spree/shared/login' %>
			<% if flash[:alert] %>
	  		<div class="flash errors alert alert-info"><%= flash[:alert] %></div>
			<% end %>
			<% @body_id = 'login' %>
			<div id="existing-customer">
			  <div class="alert alert-info">
			  	<%= Spree.t(:login) %>
			  </div>
			  <div data-hook="login">
			    <%= render partial: 'spree/shared/login' %>
			    <hr>
			    <%#= link_to Spree.t(:create_a_new_account), spree.signup_path %> 
			    <%= link_to 'Sponsorship Request Application', 'https://www.groupathlete.com/registrations/new' %> | <%= link_to Spree.t(:forgot_password), spree.recover_password_path %>
			  </div>
			</div>
			<div data-hook="login_extras"></div>
		</div>
	</div>

<% end %>


